## Taller Final - Corte 3: De los Datos Crudos al Insight Gerencial
### Sector: Industria Automotriz
#### Grupo 2: Juanita Merchán y Annie Bonilla

In [208]:
# Instalación de librerías necesarias
%pip install pandas openpyxl

# Asegurar que el pip esté actualizado
%pip install --upgrade pip

Requirement already satisfied: pandas in c:\users\annie\appdata\local\programs\python\python313\lib\site-packages (2.3.1)
Requirement already satisfied: openpyxl in c:\users\annie\appdata\local\programs\python\python313\lib\site-packages (3.1.5)
Requirement already satisfied: numpy>=1.26.0 in c:\users\annie\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\annie\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\annie\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\annie\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: et-xmlfile in c:\users\annie\appdata\local\programs\python\python313\lib\site-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in c:\users\annie\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pip in c:\users\annie\appdata\local\programs\python\python313\lib\site-packages (25.3)
Note: you may need to restart the kernel to use updated packages.

In [209]:
# Importar la librería pandas
import pandas as pd
import numpy as np

# Cargar el archivo tabla1_emc_general.xlsx
df_general = pd.read_excel('tabla1_emc_general.xlsx')

# Cargar el archivo tabla2_emc_vehiculos.xlsx
df_vehiculos = pd.read_excel('tabla2_emc_vehiculos.xlsx')

# Cargar el archivo tabla3_demografia_censo2018.xlsx
df_demografia = pd.read_excel('tabla3_demografia_censo2018_Og.xlsx')

# Mostrar las primeras filas para verificar
print("✅ Archivos originales cargados.")
print("-" * 50)
print("Datos de tabla1_emc_general.xlsx:")
print(df_general.head())
print("\n")
print("\nDatos de tabla2_emc_vehiculos.xlsx:")
print(df_vehiculos.head())
print("\n")
print("\nDatos de tabla3_demografia_censo2018.xlsx:")
print(df_demografia.head())
print("\n")

✅ Archivos originales cargados.
--------------------------------------------------
Datos de tabla1_emc_general.xlsx:
  Unnamed: 0 Unnamed: 1                                          Antioquia  \
0        Año        Mes  Total comercio minorista y vehículos en el dep...
1        NaN        NaN                                                NaN
2        NaN        NaN                                                NaN
3       2025      Enero                                         123.665347
4        NaN    Febrero                                         120.511263

                                          Unnamed: 3  \
0  Comercio, mantenimiento y reparación de vehícu...
1                                                NaN
2                 4511. Vehículos automotores nuevos
3                                         108.626431
4                                         126.738337

                                          Unnamed: 4  \
0                                                NaN
1                                                NaN
2  4530- 4541. Partes, piezas (autopartes) y acce...
3                                         134.459701
4                                         130.970545

                                          Unnamed: 5  \
0                             Comercio al por menor
1  Comercio al por menor en establecimientos espe...
2  4711 - 4719 - 4721 -4722 - 4723 - 4724 - 4729 ...
3                                         123.292346
4                                         118.826733

                                          Unnamed: 6  \
0                                                NaN
1                                                NaN
2  4741 - 4742 - 4751 - 4752 - 4753 - 4754 - 4755...
3                                         139.810596
4                                         127.039894

                                          Unnamed: 7  \
0                                                NaN
1                                                NaN
2  4761 - 4762 - . 4769 - 4774. Artículos cultura...
3                                         118.698212
4                                          94.837225

                                          Unnamed: 8  \
0                                                NaN
1                                                NaN
2  4771 - 4772. Prendas de vestir y sus accesorio...
3                                         108.320114
4                                          87.849443

                                          Unnamed: 9  ...  \
0                                                NaN  ...
1                                                NaN  ...
2  4773. Productos farmacéuticos, medicinales, od...  ...
3                                         144.791796  ...
4                                         131.151392  ...

                                         Unnamed: 54 Unnamed: 55  \
0                                                NaN         NaN
1                                                NaN         NaN
2  4773. Productos farmacéuticos, medicinales, od...         NaN
3                                         147.478574         NaN
4                                         140.099254         NaN

                                 Otros departamentos  \
0  Total comercio minorista y vehículos en el dep...
1                                                NaN
2                                                NaN
3                                         123.049701
4                                         113.991154

                                         Unnamed: 57  \
0  Comercio, mantenimiento y reparación de vehícu...
1                                                NaN
2                 4511. Vehículos automotores nuevos
3                                         110.331384
4                                         113.478661

                                         Unnamed: 58  \
0                                                NaN
1                                                NaN
2  4530- 4541. Partes, piezas (autopartes) y acce...
3                                         138.061059
4                                         135.584995

                                         Unnamed: 59  \
0                             Comercio al por menor
1  Comercio al por menor en establecimientos espe...
2  4711 - 4719 - 4721 -4722 - 4723 - 4724 - 4729 ...
3                                          121.41541
4                                          112.35687

                                         Unnamed: 60  \
0                                                NaN
1                                                NaN
2  4741 - 4742 - 4751 - 4752 - 4753 - 4754 - 4755...
3                                         143.688045
4                                         129.718159

                                         Unnamed: 61  \
0                                                NaN
1                                                NaN
2  4761 - 4762 - . 4769 - 4774. Artículos cultura...
3                                          144.49922
4                                         108.474957

                                         Unnamed: 62  \
0                                                NaN
1                                                NaN
2  4771 - 4772. Prendas de vestir y sus accesorio...
3                                         100.651032
4                                          81.438478

                                         Unnamed: 63
0                                                NaN
1                                                NaN
2  4773. Productos farmacéuticos, medicinales, od...
3                                         130.540544
4                                         107.829568

[5 rows x 64 columns]



Datos de tabla2_emc_vehiculos.xlsx:
   Tipo de vehículo Unnamed: 1 Vehículos de origen nacional + importado  \
0               NaN        NaN                 Automóviles particulares
1               NaN        NaN                        Unidades vendidas
2            2025.0      Enero                                     3405
3               NaN    Febrero                                     4531
4               NaN      Marzo                                     4712

     Unnamed: 3             Unnamed: 4    Unnamed: 5  \
0           NaN  Camperos y camionetas           NaN
1  Valor ventas      Unidades vendidas  Valor ventas
2     241201385                   9471    1181596926
3     307182298                   8910    1071946799
4     321924982                  10712    1262303106

                      Unnamed: 6    Unnamed: 7          Unnamed: 8  \
0  Vehículos de transp. público            NaN  Vehículos de carga
1              Unidades vendidas  Valor ventas   Unidades vendidas
2                            553      82856022                1068
3                            487      64792361                1296
4                            492      60273624                1281

     Unnamed: 9        Unnamed: 10   Unnamed: 11
0           NaN     Motocicletasa            NaN
1  Valor ventas  Unidades vendidas  Valor ventas
2     247300066              76268     531886954
3     233869642              83739     596627061
4     198738588              85762     604323891



Datos de tabla3_demografia_censo2018.xlsx:
                                          Unnamed: 0 Unnamed: 1 Unnamed: 2  \
0                                               2018        NaN        NaN
1  Grupos de edad, departamento y Áreas  (Total, ...        NaN        NaN
2                                                NaN        NaN      Total
3                                     Total Nacional      Total   44164417
4                                                NaN        NaN    3037781

  Unnamed: 3 Unnamed: 4
0        NaN        NaN
1       Sexo        NaN
2     Hombre      Mujer
3   21570493   22593924
4    1555605    1482176

#### Ingenieria de Datos con Python y Pandas

In [210]:
# --- Definición de Funciones de Utilidad ---

def clean_column_names(df):
    """Estandariza y limpia los nombres de columnas de un DataFrame."""
    df = df.copy()
    df.columns = (
        df.columns.astype(str).str.strip()
                    .str.lower()
                    .str.replace(" ", "_", regex=False)
                    .str.replace("\n", "_", regex=False)
                    .str.replace("(", "", regex=False)
                    .str.replace(")", "", regex=False)
    )
    return df

def convert_numeric_columns(df, cols):
    """Convierte una lista de columnas a tipo numérico, forzando errores a NaN."""
    df = df.copy()
    for c in cols:
        if c in df.columns:
            df[c] = pd.to_numeric(df[c], errors="coerce")
    return df

def fill_missing_median(df):
    """Rellena los valores NaN de las columnas numéricas con la mediana de la columna."""
    df = df.copy()
    num_cols = df.select_dtypes(include=["number"]).columns
    for c in num_cols:
        df[c] = df[c].fillna(df[c].median())
    return df

def capitalizar_meses(df):
    """Estandariza la capitalización de los meses para crear la columna Fecha."""
    df = df.copy()
    meses = {
        'enero': 'Enero', 'febrero': 'Febrero', 'marzo': 'Marzo',
        'abril': 'Abril', 'mayo': 'Mayo', 'junio': 'Junio',
        'julio': 'Julio', 'agosto': 'Agosto', 'septiembre': 'Septiembre',
        'octubre': 'Octubre', 'noviembre': 'Noviembre', 'diciembre': 'Diciembre'
    }
    df['mes'] = df['mes'].astype(str).str.strip().str.lower().map(meses)
    return df

##### Base de datos 1: Informativos Comercio al por Menor - Por departamentos (EMC)

In [211]:
file_path1 = 'tabla1_emc_general.xlsx'

# Se lee el archivo Excel y se carga en un DataFrame de Pandas.
# El bloque 'try-except' es una buena práctica para manejar errores si el archivo no existe.
try:
    df1 = pd.read_excel(file_path1)
    print("✅ Archivo 'tabla1_emc_general.xlsx' cargado exitosamente.")
except FileNotFoundError:
    print(f"❌ Error: No se encontró el archivo '{file_path1}'. Asegúrate de que esté en la misma carpeta.")

# Mostramos las primeras 5 filas para tener una idea inicial de los datos.
print("\n--- Vista Previa de los Datos Crudos ('Sucios') ---")
df1.head()

✅ Archivo 'tabla1_emc_general.xlsx' cargado exitosamente.

--- Vista Previa de los Datos Crudos ('Sucios') ---

,Unnamed: 0,Unnamed: 1,Antioquia,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 54,Unnamed: 55,Otros departamentos,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63
0,Año,Mes,Total comercio minorista y vehículos en el dep...,"Comercio, mantenimiento y reparación de vehícu...",NaN,Comercio al por menor,NaN,NaN,NaN,NaN,...,NaN,NaN,Total comercio minorista y vehículos en el dep...,"Comercio, mantenimiento y reparación de vehícu...",NaN,Comercio al por menor,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,Comercio al por menor en establecimientos espe...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Comercio al por menor en establecimientos espe...,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,4511. Vehículos automotores nuevos,"4530- 4541. Partes, piezas (autopartes) y acce...",4711 - 4719 - 4721 -4722 - 4723 - 4724 - 4729 ...,4741 - 4742 - 4751 - 4752 - 4753 - 4754 - 4755...,4761 - 4762 - . 4769 - 4774. Artículos cultura...,4771 - 4772. Prendas de vestir y sus accesorio...,"4773. Productos farmacéuticos, medicinales, od...",...,"4773. Productos farmacéuticos, medicinales, od...",NaN,NaN,4511. Vehículos automotores nuevos,"4530- 4541. Partes, piezas (autopartes) y acce...",4711 - 4719 - 4721 -4722 - 4723 - 4724 - 4729 ...,4741 - 4742 - 4751 - 4752 - 4753 - 4754 - 4755...,4761 - 4762 - . 4769 - 4774. Artículos cultura...,4771 - 4772. Prendas de vestir y sus accesorio...,"4773. Productos farmacéuticos, medicinales, od..."
3,2025,Enero,123.665347,108.626431,134.459701,123.292346,139.810596,118.698212,108.320114,144.791796,...,147.478574,NaN,123.049701,110.331384,138.061059,121.41541,143.688045,144.49922,100.651032,130.540544
4,NaN,Febrero,120.511263,126.738337,130.970545,118.826733,127.039894,94.837225,87.849443,131.151392,...,140.099254,NaN,113.991154,113.478661,135.584995,112.35687,129.718159,108.474957,81.438478,107.829568

In [212]:
# Antes de limpiar, un buen analista siempre diagnostica el estado de los datos.

print("\n--- Diagnóstico Inicial del DataFrame ---")

# .info() nos da un resumen técnico: número de filas, columnas, tipos de datos y valores no nulos.
# Es la "radiografía" de nuestros datos.
print("1. Información General y Tipos de Datos:\n")

df1.info()

# .isnull().sum() nos dice exactamente cuántos valores nulos hay en cada columna.
print("\n2. Conteo de Valores Nulos por Columna:")
print(df1.isnull().sum())

# Creamos una copia del DataFrame para trabajar sobre ella, conservando el original.
# Esta es una práctica fundamental para no perder los datos crudos.
df1_clean = df1.copy()
df1_clean = df1_clean.round(3)

--- Diagnóstico Inicial del DataFrame ---
1. Información General y Tipos de Datos:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 64 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           2 non-null      object
 1   Unnamed: 1           10 non-null     object
 2   Antioquia            10 non-null     object
 3   Unnamed: 3           11 non-null     object
 4   Unnamed: 4           10 non-null     object
 5   Unnamed: 5           12 non-null     object
 6   Unnamed: 6           10 non-null     object
 7   Unnamed: 7           10 non-null     object
 8   Unnamed: 8           10 non-null     object
 9   Unnamed: 9           10 non-null     object
 10  Unnamed: 10          0 non-null      float64
 11  Atlántico            10 non-null     object
 12  Unnamed: 12          11 non-null     object
 13  Unnamed: 13          10 non-null     object
 14  Unnamed: 14          12 non-null     object
 15  Unnamed: 15          10 non-null     object
 16  Unnamed: 16          10 non-null     object
 17  Unnamed: 17          10 non-null     object
 18  Unnamed: 18          10 non-null     object
 19  Unnamed: 19          0 non-null      float64
 20  Bogotá               10 non-null     object
 21  Unnamed: 21          11 non-null     object
 22  Unnamed: 22          10 non-null     object
 23  Unnamed: 23          12 non-null     object
 24  Unnamed: 24          10 non-null     object
 25  Unnamed: 25          10 non-null     object
 26  Unnamed: 26          10 non-null     object
 27  Unnamed: 27          10 non-null     object
 28  Unnamed: 28          0 non-null      float64
 29  Cundinamarca         10 non-null     object
 30  Unnamed: 30          11 non-null     object
 31  Unnamed: 31          10 non-null     object
 32  Unnamed: 32          12 non-null     object
 33  Unnamed: 33          10 non-null     object
 34  Unnamed: 34          10 non-null     object
 35  Unnamed: 35          10 non-null     object
 36  Unnamed: 36          10 non-null     object
 37  Unnamed: 37          0 non-null      float64
 38  Santander            10 non-null     object
 39  Unnamed: 39          11 non-null     object
 40  Unnamed: 40          10 non-null     object
 41  Unnamed: 41          12 non-null     object
 42  Unnamed: 42          10 non-null     object
 43  Unnamed: 43          10 non-null     object
 44  Unnamed: 44          10 non-null     object
 45  Unnamed: 45          10 non-null     object
 46  Unnamed: 46          0 non-null      float64
 47  Valle del Cauca      10 non-null     object
 48  Unnamed: 48          11 non-null     object
 49  Unnamed: 49          10 non-null     object
 50  Unnamed: 50          12 non-null     object
 51  Unnamed: 51          10 non-null     object
 52  Unnamed: 52          10 non-null     object
 53  Unnamed: 53          10 non-null     object
 54  Unnamed: 54          10 non-null     object
 55  Unnamed: 55          0 non-null      float64
 56  Otros departamentos  10 non-null     object
 57  Unnamed: 57          11 non-null     object
 58  Unnamed: 58          10 non-null     object
 59  Unnamed: 59          12 non-null     object
 60  Unnamed: 60          10 non-null     object
 61  Unnamed: 61          10 non-null     object
 62  Unnamed: 62          10 non-null     object
 63  Unnamed: 63          10 non-null     object
dtypes: float64(6), object(58)
memory usage: 6.1+ KB

2. Conteo de Valores Nulos por Columna:
Unnamed: 0     10
Unnamed: 1      2
Antioquia       2
Unnamed: 3      1
Unnamed: 4      2
               ..
Unnamed: 59     0
Unnamed: 60     2
Unnamed: 61     2
Unnamed: 62     2
Unnamed: 63     2
Length: 64, dtype: int64

In [213]:
def clean_df1_modified(file_path1):
    """
    CORRECCIÓN EMC GENERAL: Asegura la extracción de la serie '4511. Vehículos automotores nuevos'
    usando el MultiIndex.
    """
    df1_clean = pd.read_excel(file_path1, header=[0, 1, 2])
    
    cols_to_keep = [
        ('Unnamed: 0_level_0', 'Unnamed: 0_level_1', 'Año'),
        ('Unnamed: 1_level_0', 'Unnamed: 1_level_1', 'Mes'),
    ]
    
    departamentos = ['Antioquia', 'Atlántico', 'Bogotá', 'Cundinamarca', 'Santander', 'Valle del Cauca', 'Otros departamentos']
    data_level = '4511. Vehículos automotores nuevos'
    
    for dept in departamentos:
        cols_to_keep.append((dept, 'Comercio, mantenimiento y reparación de vehículos automotores y motocicletas, sus partes, piezas y accesorios', data_level))
        
    df1_result = df1_clean[cols_to_keep].copy()
    
    new_cols = ['Año', 'Mes'] + departamentos
    df1_result.columns = new_cols
    
    df1_result['Año'] = df1_result['Año'].ffill()
    df1_result = df1_result.dropna(subset=['Mes']).reset_index(drop=True)
    
    numeric_cols = [c for c in new_cols if c not in ['Año', 'Mes']]
    df1_result = convert_numeric_columns(df1_result, numeric_cols)
    df1_result = fill_missing_median(df1_result)
    
    df1_result = capitalizar_meses(df1_result.rename(columns={'Mes': 'mes'}))
    df1_result['Fecha'] = df1_result['mes'] + '-' + df1_result['Año'].astype(int).astype(str)
    
    final_cols = ['Fecha'] + numeric_cols
    df1_final = df1_result[final_cols].round(16)
    
    return df1_final

##### Base de datos 2: Informativos Comercio de Vehículos - Por departamentos (EMC)

In [214]:
file_path2 = 'tabla2_emc_vehiculos.xlsx'

# Se lee el archivo Excel y se carga en un DataFrame de Pandas.
# El bloque 'try-except' es una buena práctica para manejar errores si el archivo no existe.
try:
    df2 = pd.read_excel(file_path2)
    print("✅ Archivo 'tabla2_emc_vehiculos.xlsx' cargado exitosamente.")
except FileNotFoundError:
    print(f"❌ Error: No se encontró el archivo '{file_path2}'. Asegúrate de que esté en la misma carpeta.")

# Mostramos las primeras 5 filas para tener una idea inicial de los datos.
print("\n--- Vista Previa de los Datos Crudos ('Sucios') ---")
df2.head()

✅ Archivo 'tabla2_emc_vehiculos.xlsx' cargado exitosamente.

--- Vista Previa de los Datos Crudos ('Sucios') ---

,Tipo de vehículo,Unnamed: 1,Vehículos de origen nacional + importado,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,NaN,Automóviles particulares,NaN,Camperos y camionetas,NaN,Vehículos de transp. público,NaN,Vehículos de carga,NaN,Motocicletasa,NaN
1,NaN,NaN,Unidades vendidas,Valor ventas,Unidades vendidas,Valor ventas,Unidades vendidas,Valor ventas,Unidades vendidas,Valor ventas,Unidades vendidas,Valor ventas
2,2025.0,Enero,3405,241201385,9471,1181596926,553,82856022,1068,247300066,76268,531886954
3,NaN,Febrero,4531,307182298,8910,1071946799,487,64792361,1296,233869642,83739,596627061
4,NaN,Marzo,4712,321924982,10712,1262303106,492,60273624,1281,198738588,85762,604323891

In [215]:
# Antes de limpiar, un buen analista siempre diagnostica el estado de los datos.

print("\n--- Diagnóstico Inicial del DataFrame ---")

# .info() nos da un resumen técnico: número de filas, columnas, tipos de datos y valores no nulos.
# Es la "radiografía" de nuestros datos.
print("1. Información General y Tipos de Datos:\n")

df2.info()

# .isnull().sum() nos dice exactamente cuántos valores nulos hay en cada columna.
print("\n2. Conteo de Valores Nulos por Columna:")
print(df2.isnull().sum())

# Creamos una copia del DataFrame para trabajar sobre ella, conservando el original.
# Esta es una práctica fundamental para no perder los datos crudos.
df2_clean = df2.copy()
df2_clean = df2_clean.round(3)


# Retirar mayusculas para facilitar el acceso al proceso de finaniciación
def capitalizar_meses_df2_clean(df2_clean):
    meses = {
        'enero': 'Enero','febrero': 'Febrero','marzo': 'Marzo',
        'abril': 'Abril','mayo': 'Mayo','junio': 'Junio',
        'julio': 'Julio','agosto': 'Agosto','septiembre': 'Septiembre',
        'setiembre': 'Septiembre','octubre': 'Octubre',
        'noviembre': 'Noviembre','diciembre': 'Diciembre'
    }

--- Diagnóstico Inicial del DataFrame ---
1. Información General y Tipos de Datos:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 12 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Tipo de vehículo                          1 non-null      float64
 1   Unnamed: 1                                9 non-null      object
 2   Vehículos de origen nacional + importado  11 non-null     object
 3   Unnamed: 3                                10 non-null     object
 4   Unnamed: 4                                11 non-null     object
 5   Unnamed: 5                                10 non-null     object
 6   Unnamed: 6                                11 non-null     object
 7   Unnamed: 7                                10 non-null     object
 8   Unnamed: 8                                11 non-null     object
 9   Unnamed: 9                                10 non-null     object
 10  Unnamed: 10                               11 non-null     object
 11  Unnamed: 11                               10 non-null     object
dtypes: float64(1), object(11)
memory usage: 1.2+ KB

2. Conteo de Valores Nulos por Columna:
Tipo de vehículo                            10
Unnamed: 1                                   2
Vehículos de origen nacional + importado     0
Unnamed: 3                                   1
Unnamed: 4                                   0
Unnamed: 5                                   1
Unnamed: 6                                   0
Unnamed: 7                                   1
Unnamed: 8                                   0
Unnamed: 9                                   1
Unnamed: 10                                  0
Unnamed: 11                                  1
dtype: int64

In [216]:
def clean_df2_modified(file_path2):
    """
    CORRECCIÓN EMC VEHÍCULOS: Construye los nombres de columna exactos, respetando
    los espacios al final en algunos nombres de columna de salida solicitados.
    """
    # Cargar con los encabezados que contienen el tipo de vehículo (nivel 1) y la métrica (nivel 2)
    df_raw = pd.read_excel(file_path2, header=[1, 2])
    
    # Mapeo de nombres para la salida
    final_col_names_map = {
        'Unidades vendidas': 'Q vendidas',
        'Valor ventas': 'Valor ventas'
    }
    
    # Generar los nuevos nombres de columna con el formato exacto requerido
    new_cols = ['Fecha']
    
    # Iterar sobre las columnas y construir el nuevo nombre
    for col in df_raw.columns:
        # Saltar las columnas de Año/Mes (que son Unnamed en el nivel 1)
        if isinstance(col[0], str) and 'Unnamed' not in col[0]:
            vehiculo = col[0].strip().replace('\n', ' ')
            medida = col[1].strip().replace('\n', ' ')
            
            # Estandarización del nombre del vehículo y el sufijo para coincidir exactamente con el output deseado
            if 'Automóviles particulares' in vehiculo:
                vehiculo = 'Automóviles particulares'
            elif 'Camperos y camionetas' in vehiculo:
                vehiculo = 'Camperos y camionetas'
            elif 'Vehículos de transp. público' in vehiculo:
                vehiculo = 'Vehículos de transp. público ' # REQUIERE ESPACIO AL FINAL
            elif 'Vehículos de carga' in vehiculo:
                vehiculo = 'Vehículos de carga'
            elif 'Motocicletasa' in vehiculo:
                vehiculo = 'Motocicletasa ' # REQUIERE ESPACIO AL FINAL
                
            new_col_name = f"{final_col_names_map.get(medida, medida)} - {vehiculo}"
            new_cols.append(new_col_name)

    # Limpiar el DataFrame de filas de encabezado (asumiendo que los datos útiles inician en la fila 4)
    df2_result = df_raw.iloc[1:].copy()
    
    # Asignar nuevos nombres a las columnas de datos
    df2_result.columns = ['Tipo de vehículo', 'Unnamed: 1'] + new_cols[1:]
    
    # Procesar 'Tipo de vehículo' (Año) y 'Unnamed: 1' (Mes)
    df2_result = df2_result.rename(columns={'Unnamed: 1': 'mes'})
    df2_result['Tipo de vehículo'] = df2_result['Tipo de vehículo'].ffill().astype(int).astype(str)
    df2_result = df2_result.dropna(subset=['mes']).reset_index(drop=True)

    df2_result = capitalizar_meses(df2_result)
    df2_result['Fecha'] = df2_result['mes'] + '-' + df2_result['Tipo de vehículo']
    
    # 2. Aplicar conversiones numéricas y seleccionar el orden final
    numeric_cols = new_cols[1:]
    df2_final = df2_result[['Fecha'] + numeric_cols].copy()
    df2_final = convert_numeric_columns(df2_final, numeric_cols)
    df2_final = fill_missing_median(df2_final)
    
    return df2_final

##### Base de datos 3: PERSONAS (Demográfico)

In [217]:
file_path3 = 'tabla3_demografia_censo2018_Og.xlsx'

# Se lee el archivo Excel y se carga en un DataFrame de Pandas.
# El bloque 'try-except' es una buena práctica para manejar errores si el archivo no existe.
try:
    df3 = pd.read_excel(file_path3)
    print("✅ Archivo 'tabla3_demografia_censo2018.xlsx' cargado exitosamente.")
except FileNotFoundError:
    print(f"❌ Error: No se encontró el archivo '{file_path3}'. Asegúrate de que esté en la misma carpeta.")

# Mostramos las primeras 5 filas para tener una idea inicial de los datos.
print("\n--- Vista Previa de los Datos Crudos ('Sucios') ---")
df3.head()

✅ Archivo 'tabla3_demografia_censo2018.xlsx' cargado exitosamente.

--- Vista Previa de los Datos Crudos ('Sucios') ---

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,2018,NaN,NaN,NaN,NaN
1,"Grupos de edad, departamento y Áreas (Total, ...",NaN,NaN,Sexo,NaN
2,NaN,NaN,Total,Hombre,Mujer
3,Total Nacional,Total,44164417,21570493,22593924
4,NaN,NaN,3037781,1555605,1482176

In [218]:
# Antes de limpiar, un buen analista siempre diagnostica el estado de los datos.

print("\n--- Diagnóstico Inicial del DataFrame ---")

# .info() nos da un resumen técnico: número de filas, columnas, tipos de datos y valores no nulos.
# Es la "radiografía" de nuestros datos.
print("1. Información General y Tipos de Datos:\n")

df3.info()

# .isnull().sum() nos dice exactamente cuántos valores nulos hay en cada columna.
print("\n2. Conteo de Valores Nulos por Columna:")
print(df3.isnull().sum())

# Creamos una copia del DataFrame para trabajar sobre ella, conservando el original.
# Esta es una práctica fundamental para no perder los datos crudos.
df3_clean = df3.copy()
df3_clean = df3_clean.round(3)

--- Diagnóstico Inicial del DataFrame ---
1. Información General y Tipos de Datos:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2587 entries, 0 to 2586
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  36 non-null     object
 1   Unnamed: 1  136 non-null    object
 2   Unnamed: 2  2585 non-null   object
 3   Unnamed: 3  2586 non-null   object
 4   Unnamed: 4  2585 non-null   object
dtypes: object(5)
memory usage: 101.2+ KB

2. Conteo de Valores Nulos por Columna:
Unnamed: 0    2551
Unnamed: 1    2451
Unnamed: 2       2
Unnamed: 3       1
Unnamed: 4       2
dtype: int64

In [219]:
def clean_df3_modified(file_path3):
    """
    CORRECCIÓN DEMOGRAFÍA: Filtra solo la línea de 'Total' general para los 6 departamentos
    y elimina cualquier desagregación geográfica.
    """
    
    # 1. Cargar el archivo, asumiendo el encabezado en la fila 3 (header=2)
    df3_clean = pd.read_excel(file_path3, header=2) 
    
    # 2. Renombrar las columnas de interés
    cols_base = ['Departamento', 'Tipo_Area', 'Total', 'Hombre', 'Mujer']
    
    # Si hay más columnas (ej. desagregación por edad que no se eliminó completamente)
    df3_clean.columns = cols_base + [f'Col_{i}' for i in range(len(df3_clean.columns) - len(cols_base))]
    
    # Seleccionar solo las columnas de interés
    df3_final = df3_clean[cols_base].copy()
    
    # 3. Limpieza y estandarización
    df3_final['Departamento'] = df3_final['Departamento'].astype(str).str.strip().ffill()
    df3_final['Tipo_Area'] = df3_final['Tipo_Area'].astype(str).str.strip().str.lower()
    
    # Eliminar filas con NaN en los totales (ej. filas de metadatos)
    df3_final = df3_final.dropna(subset=['Total', 'Hombre', 'Mujer']).copy()
    
    # 4. FILTRO CRÍTICO: ELIMINAR DESAGREGACIONES GEOGRÁFICAS
    
    # 4.1. Mantener solo las filas que dicen 'total' en la columna 'Tipo_Area'
    df3_final = df3_final[
        df3_final['Tipo_Area'].str.contains('total', na=False)
    ].copy()
    
    # 4.2. Eliminar el "Total Nacional" si persiste
    df3_final = df3_final[
        ~df3_final['Departamento'].str.lower().str.contains('total nacional', na=False)
    ].reset_index(drop=True)
    
    # 5. Aplicar formato y filtro final
    
    # Eliminar la columna Tipo_Area y renombrar
    df3_final = df3_final.drop(columns=['Tipo_Area']).copy()
    
    # Estandarizar el nombre del departamento
    df3_final['Departamento'] = df3_final['Departamento'].str.title()
    df3_final['Departamento'] = df3_final['Departamento'].str.replace(' Del ', ' del ', regex=False)
    
    # 6. Filtrar por los seis departamentos solicitados
    target_depts = ['Antioquia', 'Atlántico', 'Bogotá', 'Cundinamarca', 'Santander', 'Valle Del Cauca']
    df3_final = df3_final[df3_final['Departamento'].isin(target_depts)].reset_index(drop=True)
    
    # 7. Limpieza y Formato final
    numeric_cols = ['Total', 'Hombre', 'Mujer']
    df3_final = convert_numeric_columns(df3_final, numeric_cols)
    df3_final = fill_missing_median(df3_final)
    df3_final[numeric_cols] = df3_final[numeric_cols].astype(int)

    return df3_final

In [221]:
import os

# --- Exportación de las Tablas Limpias ---

# Nota: Asumimos que df1_final, df2_final y df3_final ya contienen
# los DataFrames limpios generados en el paso anterior.

print("\n--- Preparación para Exportación ---")

# Las variables dfX_final ya existen, por lo que la copia es segura.
df1_final = df1_final.copy() 
df2_final = df2_final.copy()
df3_final = df3_final.copy()

# Exportar a Excel
output_filename = 'EMC_General_LimpioF.xlsx'
df1_final.to_excel(output_filename, index=False)

output_filename2 = 'EMC_Vehiculos_LimpioF.xlsx'
df2_final.to_excel(output_filename2, index=False)

output_filename3 = 'Demografia_Censo2018_LimpioF.xlsx'
df3_final.to_excel(output_filename3, index=False)

print("✅ Archivos exportados exitosamente en formato Excel (.xlsx).")

--- Preparación para Exportación ---
✅ Archivos exportados exitosamente en formato Excel (.xlsx).

In [ ]:
# --- Visualización de los Resultados (Simulando la salida final) ---

print("### Resultado Final de la Base de Datos 1 (tabla1_emc_general - Copy.xlsx)")
print(df1_final)
print("-" * 50)

print("### Resultado Final de la Base de Datos 2 (tabla2_emc_vehiculos - Copy.xlsx)")
print(df2_final)
print("-" * 50)

print("### Resultado Final de la Base de Datos 3 (tabla3_demografia_censo2018 - Copy.xlsx)")
print(df3_final)

### Resultado Final de la Base de Datos 1 (tabla1_emc_general - Copy.xlsx)
   Unnamed: 0    Unnamed: 1  \
0         Año           Mes
1         NaN           NaN
2         NaN           NaN
3        2025         Enero
4         NaN       Febrero
5         NaN         Marzo
6         NaN         Abril
7         NaN          Mayo
8         NaN         Junio
9         NaN         Julio
10        NaN        Agosto
11        NaN    Septiembre

                                            Antioquia  \
0   Total comercio minorista y vehículos en el dep...
1                                                 NaN
2                                                 NaN
3                                          123.665347
4                                          120.511263
5                                          128.330292
6                                          123.002019
7                                          135.420266
8                                          131.826032
9                                          141.590989
10                                         137.136447
11                                         135.208229

                                           Unnamed: 3  \
0   Comercio, mantenimiento y reparación de vehícu...
1                                                 NaN
2                  4511. Vehículos automotores nuevos
3                                          108.626431
4                                          126.738337
5                                          117.932605
6                                          121.680058
7                                          133.540011
8                                          113.931139
9                                          148.598256
10                                         130.708072
11                                         141.652534

                                           Unnamed: 4  \
0                                                 NaN
1                                                 NaN
2   4530- 4541. Partes, piezas (autopartes) y acce...
3                                          134.459701
4                                          130.970545
5                                          128.867139
6                                          127.082483
7                                          139.522126
8                                          143.533573
9                                          156.580368
10                                         142.823596
11                                         144.871882

                                           Unnamed: 5  \
0                              Comercio al por menor
1   Comercio al por menor en establecimientos espe...
2   4711 - 4719 - 4721 -4722 - 4723 - 4724 - 4729 ...
3                                          123.292346
4                                          118.826733
5                                          131.524238
6                                          121.904839
7                                          135.318898
8                                          134.791831
9                                          136.870223
10                                         138.343691
11                                         131.589302

                                           Unnamed: 6  \
0                                                 NaN
1                                                 NaN
2   4741 - 4742 - 4751 - 4752 - 4753 - 4754 - 4755...
3                                          139.810596
4                                          127.039894
5                                          138.031007
6                                          131.512292
7                                          137.282465
8                                          132.836894
9                                          147.969945
10                                         141.830275
11                                         144.392184

                                           Unnamed: 7  \
0                                                 NaN
1                                                 NaN
2   4761 - 4762 - . 4769 - 4774. Artículos cultura...
3                                          118.698212
4                                           94.837225
5                                          103.405374
6                                           98.931798
7                                             110.976
8                                          102.087587
9                                          117.163483
10                                         115.240665
11                                         105.275971

                                           Unnamed: 8  \
0                                                 NaN
1                                                 NaN
2   4771 - 4772. Prendas de vestir y sus accesorio...
3                                          108.320114
4                                           87.849443
5                                          107.745213
6                                          108.278791
7                                          126.904803
8                                          135.809153
9                                          122.936013
10                                         123.099919
11                                         118.711265

                                           Unnamed: 9  ...  \
0                                                 NaN  ...
1                                                 NaN  ...
2   4773. Productos farmacéuticos, medicinales, od...  ...
3                                          144.791796  ...
4                                          131.151392  ...
5                                          140.802881  ...
6                                          139.079848  ...
7                                          150.696209  ...
8                                          142.866251  ...
9                                          156.796882  ...
10                                         150.275953  ...
11                                          141.74564  ...

                                          Unnamed: 54 Unnamed: 55  \
0                                                 NaN         NaN
1                                                 NaN         NaN
2   4773. Productos farmacéuticos, medicinales, od...         NaN
3                                          147.478574         NaN
4                                          140.099254         NaN
5                                          146.972576         NaN
6                                          135.397121         NaN
7                                          144.399368         NaN
8                                          143.447034         NaN
9                                          150.326466         NaN
10                                         143.228438         NaN
11                                         137.735649         NaN

                                  Otros departamentos  \
0   Total comercio minorista y vehículos en el dep...
1                                                 NaN
2                                                 NaN
3                                          123.049701
4                                          113.991154
5                                          121.479072
6                                          117.291649
7                                          125.493452
8                                          122.199315
9                                            136.6328
10                                         134.173163
11                                         127.938418

                                          Unnamed: 57  \
0   Comercio, mantenimiento y reparación de vehícu...
1                                                 NaN
2                  4511. Vehículos automotores nuevos
3                                          110.331384
4                                          113.478661
5                                          109.612028
6                                          114.165278
7                                          121.528138
8                                           109.33355
9                                           163.31435
10                                         135.965964
11                                         152.125375

                                          Unnamed: 58  \
0                                                 NaN
1                                                 NaN
2   4530- 4541. Partes, piezas (autopartes) y acce...
3                                          138.061059
4                                          135.584995
5                                          130.066963
6                                          128.595377
7                                          146.326504
8                                          134.391694
9                                          163.914023
10                                         148.402261
11                                         154.811833

                                          Unnamed: 59  \
0                              Comercio al por menor
1   Comercio al por menor en establecimientos espe...
2   4711 - 4719 - 4721 -4722 - 4723 - 4724 - 4729 ...
3                                           121.41541
4                                           112.35687
5                                          124.207019
6                                          116.915063
7                                          122.825058
8                                          123.001255
9                                          127.834766
10                                         134.662737
11                                         119.109953

                                          Unnamed: 60  \
0                                                 NaN
1                                                 NaN
2   4741 - 4742 - 4751 - 4752 - 4753 - 4754 - 4755...
3                                          143.688045
4                                          129.718159
5                                          138.693719
6                                           132.50764
7                                          140.720107
8                                          131.390744
9                                          149.290703
10                                          143.40582
11                                         142.795603

                                          Unnamed: 61  \
0                                                 NaN
1                                                 NaN
2   4761 - 4762 - . 4769 - 4774. Artículos cultura...
3                                           144.49922
4                                          108.474957
5                                           80.392294
6                                           79.602209
7                                           88.060584
8                                            78.68326
9                                           89.673807
10                                          87.423183
11                                           86.37164

                                          Unnamed: 62  \
0                                                 NaN
1                                                 NaN
2   4771 - 4772. Prendas de vestir y sus accesorio...
3                                          100.651032
4                                           81.438478
5                                           89.988674
6                                           93.392197
7                                          114.584616
8                                          122.897711
9                                          111.395793
10                                         108.268623
11                                         109.628317

                                          Unnamed: 63
0                                                 NaN
1                                                 NaN
2   4773. Productos farmacéuticos, medicinales, od...
3                                          130.540544
4                                          107.829568
5                                          121.490425
6                                          117.337729
7                                          126.101123
8                                          124.383148
9                                          131.629205
10                                         125.659019
11                                         115.773205

[12 rows x 64 columns]
--------------------------------------------------
### Resultado Final de la Base de Datos 2 (tabla2_emc_vehiculos - Copy.xlsx)
    Tipo de vehículo  Unnamed: 1 Vehículos de origen nacional + importado  \
0                NaN         NaN                 Automóviles particulares
1                NaN         NaN                        Unidades vendidas
2             2025.0       Enero                                     3405
3                NaN     Febrero                                     4531
4                NaN       Marzo                                     4712
5                NaN       Abril                                     4353
6                NaN        Mayo                                     4612
7                NaN       Junio                                     5744
8                NaN       Julio                                     6770
9                NaN      Agosto                                     5901
10               NaN  Septiembre                                     6835

      Unnamed: 3             Unnamed: 4    Unnamed: 5  \
0            NaN  Camperos y camionetas           NaN
1   Valor ventas      Unidades vendidas  Valor ventas
2      241201385                   9471    1181596926
3      307182298                   8910    1071946799
4      321924982                  10712    1262303106
5      303097724                  10195    1276952530
6      315709016                  12822    1534032558
7      372738117                  12198    1412550459
8      471803509                  13752    1712502292
9      391006693                  12365    1431372705
10     464237775                  15023    1753139856

                       Unnamed: 6    Unnamed: 7          Unnamed: 8  \
0   Vehículos de transp. público            NaN  Vehículos de carga
1               Unidades vendidas  Valor ventas   Unidades vendidas
2                             553      82856022                1068
3                             487      64792361                1296
4                             492      60273624                1281
5                             534      62972631                1278
6                             592      91189598                1718
7                             525      65720412                1426
8                             694      85614602                1449
9                             868      96071654                1954
10                            804      90174183                2414

      Unnamed: 9        Unnamed: 10   Unnamed: 11
0            NaN     Motocicletasa            NaN
1   Valor ventas  Unidades vendidas  Valor ventas
2      247300066              76268     531886954
3      233869642              83739     596627061
4      198738588              85762     604323891
5      181952413              84869     601519742
6      268033197              93361     685781287
7      241567660              89445     665275934
8      262317663             105760     777167393
9      313119690              97930     725900791
10     347860746             104776     784780211
--------------------------------------------------
### Resultado Final de la Base de Datos 3 (tabla3_demografia_censo2018 - Copy.xlsx)
                                             Unnamed: 0 Unnamed: 1 Unnamed: 2  \
0                                                  2018        NaN        NaN
1     Grupos de edad, departamento y Áreas  (Total, ...        NaN        NaN
2                                                   NaN        NaN        NaN
3                                        Total Nacional      Total      Total
4                                                   NaN        NaN      0 a 4
...                                                 ...        ...        ...
2582                                                NaN        NaN    65 a 69
2583                                                NaN        NaN    70 a 74
2584                                                NaN        NaN    75 a 79
2585                                                NaN        NaN    80 a 84
2586                                                NaN        NaN   85 y más

     Unnamed: 3 Unnamed: 4 Unnamed: 5
0           NaN        NaN        NaN
1         Total       Sexo        NaN
2           NaN     Hombre      Mujer
3      44164417   21570493   22593924
4       3037781    1555605    1482176
...         ...        ...        ...
2582        612        364        248
2583        360        202        158
2584        258        158        100
2585        153         92         61
2586        112         69         43

[2587 rows x 6 columns]